Repository felnne/zap: changes, and which GitLab CI jobs are due for each by the changed paths.
All: pytest, ruff, safety, markdown, build

Path conditions:
  pytest: any of: src/**/*.py, tests/**/*.py, pyproject.toml, uv.lock
  ruff: any of: **/*.py
  safety: any of: .safety-policy.yml, uv.lock
  markdown: any of: README.md, docs/**/*.md
  build: any of: **/*.py, pyproject.toml, uv.lock

Adding release dev task for pre-releases
  pyproject.toml
  tasks/release.py
Due: pytest, ruff, build

Fixing miss dev dependency
  pyproject.toml
  uv.lock
Due: pytest, safety, build

Adding missing dev task
  pyproject.toml
Due: pytest, build

Updating map series
  src/data/series.json
Due: none

Preparing for release
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Upgrading dependencies
  .gitlab-ci.yml
  .pre-commit-config.yaml
  pyproject.toml
  uv.lock
Due: pytest, safety, build

Replacing Safety with UV Audit
  .gitlab-ci.yml
  pyproject.toml
Due: pytest, build

Fix UV audit
  pyproject.toml
  uv.lock
Due: pytest, safety, build

Preparing for release
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: pytest, safety, build

Adding basic record IO support
  .gitignore
  .python-version
  .streamlit/secrets.toml.tpl
  pyproject.toml
  src/zap/catalogue.py
  src/zap/records.py
  src/zap/sections/__init__.py
  src/zap/sections/base.py
  src/zap/sections/intro.py
  src/zap/sections/tool_export.py
  src/zap/sections/tool_import.py
  src/zap/sections/tool_preview.py
  src/zap/sections/tool_validate.py
  src/zap/streamlit_app.py
  tests/.streamlit/secrets.toml
  tests/conftest.py
  tests/e2e_tests/__init__.py
  tests/e2e_tests/test_streamlit.py
  tests/resources/__init__.py
  tests/resources/admin_keys.py
  tests/resources/records/all-valid.json
  tests/zap_tests/sections/__init__.py
  tests/zap_tests/sections/test_export.py
  tests/zap_tests/sections/test_import.py
  tests/zap_tests/sections/test_intro.py
  tests/zap_tests/sections/test_preview.py
  tests/zap_tests/sections/test_validate.py
  tests/zap_tests/test_catalogue.py
  tests/zap_tests/test_records.py
  tests/zap_tests/test_streamlit.py
  uv.lock
Due: pytest, ruff, safety, build

Upgrade project dependencies
  .pre-commit-config.yaml
  pyproject.toml
  uv.lock
Due: pytest, safety, build

Updating dependencies
  pyproject.toml
  tests/__init__.py
  tests/conftest.py
  tests/e2e_tests/browser/__init__.py
  tests/e2e_tests/browser/test_workflow.py
  tests/e2e_tests/streamlit/__init__.py
  tests/e2e_tests/streamlit/test_workflow.py
  tests/zap_tests/sections/test_export.py
  tests/zap_tests/sections/test_preview.py
  tests/zap_tests/test_streamlit.py
Due: pytest, ruff, build

Refactoring app run
  .streamlit/secrets.toml.tpl
  pyproject.toml
  resources/dev/.env.tpl
  src/zap/app.py
  src/zap/utils.py
  tasks/run.py
  tests/.streamlit/secrets.toml
  tests/e2e_tests/streamlit/test_workflow.py
  tests/zap_tests/test_streamlit.py
  uv.lock
Due: pytest, ruff, safety, build

Updating CI
  .gitlab-ci.yml
Due: none

Improving Streamlit secrets access
  src/zap/app.py
  tests/zap_tests/sections/test_preview.py
Due: pytest, ruff, build

Refactoring running streamlit app
  tests/conftest.py
  tests/e2e_tests/browser/test_workflow.py
  tests/e2e_tests/streamlit/test_workflow.py
  tests/scripts/__init__.py
  tests/scripts/run_app.py
  tests/zap_tests/sections/test_preview.py
Due: pytest, ruff, build

Removing test coverage
  .gitignore
  pyproject.toml
Due: pytest, build

Realigning pyproject with Lantern
  pyproject.toml
Due: pytest, build

Tidying up pyproject
  pyproject.toml
  uv.lock
Due: pytest, safety, build

Applying additional linting fixes
  pyproject.toml
  src/zap/catalogue.py
  src/zap/records.py
  src/zap/sections/tool_preview.py
  tests/conftest.py
  tests/e2e_tests/browser/test_workflow.py
  tests/e2e_tests/streamlit/test_workflow.py
  tests/zap_tests/sections/test_export.py
  tests/zap_tests/sections/test_preview.py
  tests/zap_tests/sections/test_validate.py
  tests/zap_tests/test_catalogue.py
Due: pytest, ruff, build

Updating documentation
  CHANGELOG.md
  README.md
  docs/architecture.md
  docs/config.md
  docs/dev.md
  src/zap/app.py
Due: pytest, ruff, markdown, build

Fix up CI
  .gitlab-ci.yml
  docs/setup.md
  tests/e2e_tests/streamlit/test_workflow.py
Due: pytest, ruff, markdown, build

Adding Streamlit cloud hosting
  README.md
Due: markdown

Refactoring standalone methods into sections as generic logic
  src/zap/catalogue.py
  src/zap/records.py
  src/zap/sections/tool_preview.py
  tests/conftest.py
  tests/zap_tests/sections/test_preview.py
  tests/zap_tests/test_catalogue.py
  tests/zap_tests/test_records.py
Due: pytest, ruff, build

Refactoring validation section
  src/zap/sections/tool_validate.py
  tests/zap_tests/sections/test_validate.py
Due: pytest, ruff, build

Refactoring import section
  src/zap/app.py
  src/zap/sections/tool_import.py
  src/zap/utils.py
  tests/conftest.py
  tests/e2e_tests/streamlit/test_workflow.py
  tests/zap_tests/sections/test_export.py
  tests/zap_tests/sections/test_import.py
  tests/zap_tests/test_streamlit.py
  tests/zap_tests/test_utils.py
Due: pytest, ruff, build

Refactoring Streamlit app into a class
  src/zap/app.py
  tests/e2e_tests/streamlit/test_workflow.py
  tests/zap_tests/test_streamlit.py
Due: pytest, ruff, build

UI polishing
  src/zap/sections/intro.py
  src/zap/sections/tool_export.py
  src/zap/sections/tool_import.py
  src/zap/sections/tool_preview.py
  tests/zap_tests/sections/test_export.py
  tests/zap_tests/sections/test_preview.py
Due: pytest, ruff, build

Updating e2e tests
  tests/conftest.py
  tests/e2e_tests/browser/test_workflow.py
  tests/e2e_tests/streamlit/test_workflow.py
  tests/resources/records/all-valid.json
Due: pytest, ruff, build

Updating docs
  docs/architecture.md
  docs/dev.md
Due: markdown

Updating dependencies
  pyproject.toml
  uv.lock
Due: pytest, safety, build
